{% load mptt_tags %}
<ul class="mobile-nav">
    <li><a href="{% url 'home' %}">Home</a><i class="bi bi-chevron-right to-right"></i></li>
    {% recursetree categories %}
    <li>
        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% if not node.is_leaf_node %}
        <i class="bi bi-chevron-down dropdown"></i>
        <ul class="mobile-sub-menu">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
    <li><a href="/about">About</a></li>
</ul>