<section class="main-relevant">
    <a class="big" href="{{ post1.get_absolute_url }}">
        <img src="{{ post1.photo.url }}" alt="img">
        <span>{{ post1.category }}</span>
        <h2>{{ post1.title }}</h2>
    </a>
    <div class="additional">
        <a href="{{ post2.get_absolute_url }}">
            <div class="additional-img">
                <img src="{{ post2.photo.url }}" alt="img">
            </div>
            <div class="additional-header">
                <span>{{ post2.category }}</span>
                <h2>{{ post2.title }}</h2>
            </div>
        </a>
        <a href="{{ post3.get_absolute_url }}">
            <div class="additional-img">
                <img src="{{ post3.photo.url }}" alt="img">
            </div>
            <div class="additional-header">
                <span>{{ post3.category }}</span>
                <h2>{{ post3.title }}</h2>
            </div>
        </a>
    </div>
    <div class="additional">
        <a href="{{ post4.get_absolute_url }}">
            <div class="additional-img">
                <img src="{{ post4.photo.url }}" alt="img">
            </div>
            <div class="additional-header">
                <span>{{ post4.category }}</span>
                <h2>{{ post4.title }}</h2>
            </div>
        </a>
        <a href="{{ post5.get_absolute_url }}">
            <div class="additional-img">
                <img src="{{ post5.photo.url }}" alt="img">
            </div>
            <div class="additional-header">
                <span>{{ post5.category }}</span>
                <h2>{{ post5.title }}</h2>
            </div>
        </a>
    </div>
</section>