{% extends 'base.html' %}

{% block title %} {{block.super}} {% endblock %}

{% block content %}

<div class="container">
    <ul class="breadcrumbs">
            <li><a href="{% url 'home' %}">Home</a></li>
            <span><i class="bi bi-chevron-right"></i></span>
            <li>{{ post.title }}</li>
    </ul>
    <div class="main-content">
        <section class="main-content-page">
            <ul class="main-blog">
                    <div class="main-blog-detail">
                        <div class="post-content">
                            {{post.content|safe}}
                        </div>
                    </div>
            </ul>
        </section>
        {% include 'inc/_aside.html'%}
    </div>
</div>

{% endblock %}